#content{
    width: 60vw;
    height: 60vh;
    display: flex;
    // background: rgb(183, 187, 211);
    @media only screen and (max-width:600px){
        width: 90vw;
        flex-direction: column;
    }
}
#detail-description{
    margin-right: 15px;
    margin-left: 10px;
}

.techListClass{
    margin-right: 10px;
    margin-left: 10px;
}

.dialogClass{
    .ui-dialog-titlebar-icon{
        font-size: 24px;
    }
    .ui-panel-images {
        height     : 100%;
        // object-fit : contain;
    }
}
p-footer{
    button{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.techsSection{
    margin-bottom: 3vh;
    button{
        margin-top: 5px;
    }
}

.DetailTitle{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.6rem;
    color: #3B4893 !important;
    span{
        color: rgb(78, 93, 190);
        font-size: 1.3rem;
    }
}

.detail-additionalInfo{
    line-height: 2;
    font-size: 1.1rem;
    color: #336b3c;
}

.additionalInfoLine{
    margin-bottom: 2vh;
    margin-left: 1vw;
}


p-header{
    span {
        font-size: 1.3rem;
    }
}

#shadow{
    z-index: 99;
    background: rgb(156, 151, 151);
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
}

