#headerName{
	display: flex;
	height: 80px;
	width: 250px;
	align-items: center;
	justify-content: center;
}

#headerNameText{
	font-size: 25px;
    font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.active{
	border-bottom: 2px solid grey !important;
}

.fixed{
	position: fixed;
	z-index: ceil($number: 10);
	width: 100%;
}
.navStyle{
	height:150px;
	background-color: rgba(0,0,0,0);
	-webkit-transition:1s all ease;
	transition:1s all ease;
	div p{
		color:white;
		text-shadow: 2px 2px black;
	}
	.nav-link{
		color: white;
		text-shadow: 2px 2px black;
	}
	#phone{
		color: white;
	}
	#languageButton{
		background-color: rgba(0,0,0,0);
		color: white;
		margin-left: 5px;
	}
}

.shrinked{
	height:80px !important;
	background-color: white;
	opacity: 0.9;
	-webkit-transition:1s all ease;
	transition:1s all ease;
	div p{
		color:grey;
		text-shadow: none;
	}
	.nav-link{
		color: grey;
		text-shadow: none;
	}
	#phone{
		color:grey;
	}
	#languageButton{
		background-color: rgba(0,0,0,0);
		color: black;
		margin-left: 5px;
	}
}

.navbar-brand{
	margin-left:30px;
	opacity:1;
	img{
		width:120px;
		height:120px;
	}
} 

#phone{
	display:inline-block;
	margin-right:30px;
}
.nav-link{
	border-bottom: 3px solid transparent;
	font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
	&:hover{
		border-bottom: 3px solid grey;
	}
}


@media only screen and (max-width:600px){
	#header{
		display: flex;
		justify-content: center
	}
	#headerName{
		width: unset;
	}
}