<nav id="header" class="navStyle navbar navbar-expand-lg fixed">
    <div id="headerName"><p id="headerNameText">JEFFER PENG</p></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <ng-container 
                *ngFor="let step of steps;
                        let index = index;
                        let last = last;
                        let first = first">
                <li (click)="goToStep(step.id)"
                    class="nav-item bold">
                    <a class="nav-link" id="NAV-{{ step.id }}" 
                        [ngClass]="{ 'active': first }" >{{ "HEADER."+step.id | translate }}</a>
                </li>
            </ng-container>
            <!-- <li class="nav-item bold"><a class="nav-link"> {{ "HEADER.Resume"| translate }} </a></li> -->
        </ul>
        <div id="phone">
            <i class="fas fa-phone"></i> (519) 588-5668
            <button id="languageButton" (click)="changeLanguage()" >{{language}}</button>
        </div>
    </div>
</nav>