#headerName{
	display: flex;
	height: 80px;
	width: 250px;
	align-items: center;
	justify-content: center;
}

#headerNameText{
	font-size: 25px;
    font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.active{
    color:black;
}

nav{
	height:150px;
	position:relative;
	opacity:0.8;
	-webkit-transition:1s all ease;
	transition:1s all ease;
	position: fixed;
	z-index: ceil($number: 10);
	width: 100%;
	.shrinked{
		height:80px !important;
		-webkit-transition:1s all ease;
		transition:1s all ease;
	}
	// div p{
	// 	color:white;
	// }
}

.navbar-brand{
	margin-left:30px;
	opacity:1;
	img{
		width:120px;
		height:120px;
	}
} 

#phone{
	display:inline-block;
	margin-right:30px;
}
.nav-link{
	border-bottom: 3px solid transparent;
	font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
	&:hover{
		border-bottom: 3px solid grey;
	}
	
}
