<footer>
    <div>
        <fa-icon [icon]="faPhone"></fa-icon> (519) 588-5668 | <fa-icon [icon]="faMailBulk"></fa-icon> jf2peng@edu.uwaterloo.ca
    </div>
    <p>
        Copyright 2019 Jeffer Jingfei Peng
    </p>
    <div>
        <a href="https://www.linkedin.com/in/jeffer-jingfei-peng-b41376136/" target="_blank">
            <img src="../../../assets/images/linkIn.svg"/>
        </a>
        <a href="https://github.com/JingfeiPeng/jingfeipeng.github.io" target="_blank" >
            <img src="../../../assets/images/github.svg"/>
        </a>
        <img src="../../../assets/images/facebook.svg"/>
    </div>
</footer>