<footer>
    <h2>Jeffer Jingfei Peng</h2>
    <div>
        <img height="300" width="200" src="../../../assets/images/myPicture.png">
        <div id="contact">
            <h4> Contact Me</h4>
            <p>Jeffer Peng</p>
            <p><i class="far fa-envelope"></i> jf2peng@edu.uwaterloo.ca</p>
            <p> <i class="fas fa-phone"></i> (519) 588-5668</p>
        </div>
    </div>
    <div id="nameLine">
        <a id="name" href="https://github.com/JingfeiPeng/jingfeipeng.github.io" >@Jeffer Jingfei Peng 2019</a>
    </div>
</footer>