<footer>
    <app-particle [topPos]="topPos" [height]="'30vh'" ></app-particle>
    <div id="contactInfoList" >
        <fa-icon [icon]="faPhone"></fa-icon> (519) 588-5668
        <div><fa-icon [icon]="faMailBulk"></fa-icon> jf2peng@edu.uwaterloo.ca</div>
    </div>
    <p>
        @2019 Jeffer Jingfei Peng
    </p>
    <div>
        <a href="https://www.linkedin.com/in/jeffer-jingfei-peng-b41376136/" target="_blank">
            <img src="../../../assets/images/linkIn.svg"/>
        </a>
        <a href="https://github.com/JingfeiPeng/jingfeipeng.github.io" target="_blank" >
            <img src="../../../assets/images/github.svg"/>
        </a>
        <!-- <a href="https://github.com/JingfeiPeng/jingfeipeng.github.io" target="_blank" >
            <img src="../../../assets/images/facebook.svg"/>
        </a> -->
        <a href="mailto:jf2peng@edu.uwaterloo.ca" target="_blank" >
            <span style="font-size:30px; color:white;position: relative;top: 9px"><fa-icon [icon]="faEnvelope"></fa-icon></span>
        </a>
    </div>
</footer>
