$upDownSpacing:50px;
$textFont: 1.2rem;
$grey:  #a19f9f;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

#aboutMeImg {
  max-height: 35vw;
  width: auto;
}


.aboutMe {
  padding-top: $upDownSpacing;
  padding-bottom: $upDownSpacing;
  @include flex(row);
  justify-content: center;
  width: 100vw;
  .innerContent {
    @include flex(row);
    width: 70vw;
  }
  .content {
    padding-top: 3rem;
    padding-left:3rem;
    h2 {
      font-weight: 800;
      font-size: 3rem;
    }
    .description {
      padding-top: 2rem;
      font-size: $textFont;
      color:$grey;
    }
  }
}

.flex-row{
  @include flex(row);
  padding-top: 2rem;
  div:first-child {
    padding-right: 2rem;
  }
  .titles {
    h3 {
      font-weight: 700;
      color: black;
    }
  }
  h3 {
    font-size: $textFont;
    line-height: 1.7;
    color: $grey;
  }
  p {
    color: $grey;
    font-size: $textFont;
    line-height: 1.7;
  }
}


@media only screen and (max-width:700px){
  #aboutMeImg {
    display: none;
  }
}