<div class="mobileImgView">
  <img src="../../../assets/images/myPicture.png" alt="My Picture" width="350px"/>
</div>
<div class="aboutMe">
    <div class="innerContent">
        <div class="picture">
            <img id="aboutMeImg" src="../../../assets/images/myPicture.png" alt="My Picture"/>
        </div>
        <div class="content">
            <h2>{{ "ABOUT_ME.HEADER" | translate }}</h2>
            <div class="description">
                <p>
                    {{ "ABOUT_ME.DESCRIPTION" | translate }}<br/>
                    {{ 'ABOUT_ME.EXPERIENCES_DESCRIPTION' | translate }}
                </p>
            </div>
            <div class="list-description">
              <table>
                <tr>
                  <td class="titles">{{ "ABOUT_ME.Name" | translate }}:</td>
                  <td>{{ 'HOME.NAME' | translate }}</td>
                </tr>
                <tr>
                  <td class="titles">{{ "ABOUT_ME.DateOfBirth" | translate }}:</td>
                  <td>{{ "ABOUT_ME.DateOfBirthVal" | translate }}</td>
                </tr>
                <tr>
                  <td class="titles">{{ "ABOUT_ME.Email" | translate }}:</td>
                  <td>jf2peng@uwaterloo.ca</td>
                </tr>
                <tr>
                  <td class="titles">{{ "ABOUT_ME.Languages" | translate }}:</td>
                  <td>{{ "ABOUT_ME.LanguagesVal" | translate }}</td>
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>
