
#text{
	font-size: 20px;
}

#aboutme{
	padding-top:50px;
	text-align:center;
	// background: linear-gradient(to bottom, white, #eadce3);
	background: linear-gradient(to bottom, white, #eadce3);

	height:450px;
	h2{
		padding-top: 20px;
	}
	img{
		margin:0 20px 20px 20px;
		float:left;
		border-radius:10%;
		border:2px solid black;
		box-shadow:0 0 10px grey;
	}
	div{
		margin:auto;
		width:70%;
	}
}

@media only screen and (max-width:600px){
	#aboutme{
		height: unset;
	}
	#text{
		font-size: 15px;
		padding-bottom: 10px;
	}
}