<div class="aboutMe" id="aboutme">
    <div class="wow flipInX">
        <img height="300" src="../../../assets/images/myPicture.png" style="vertical-align:middle"/>
    </div>
    <div id="text" class="wow fadeInUpBig">
            <h2>About Me</h2>
            Hi there! My name is Jeffer Peng. I am an experienced software engineer for 3+ years. <br/>
            I am skilled at full stack web development, database management, and Object Oriented programming. 
            I have experiences in ES6 JavaScript, C, C++, Python, HTML, CSS, React.js, React Native, Node.js, Express.js, MongoDB, Java, PHP, SqlServer. Fluent in English and Mandarin.
    </div>
</div>