<div class="aboutMe">
    <div class="innerContent">
        <div class="picture">
            <img id="aboutMeImg" src="../../../assets/images/myPicture.png" alt="My Picture"/>
        </div>
        <div class="content">
            <h2>{{ "ABOUT_ME.HEADER" | translate }}</h2>
            <div class="description">
                <p>
                    {{ "ABOUT_ME.DESCRIPTION" | translate }}
                    {{ 'ABOUT_ME.EXPERIENCES_DESCRIPTION' | translate }}
                </p>
            </div>
            <div class="list-description">
              <table>
                <tr>
                  <td class="titles">Name:</td>
                  <td>Jeffer Peng</td>
                </tr>
                <tr>
                  <td class="titles">Date of Birth:</td>
                  <td>Dec.21st 1998</td>
                </tr>
                <tr>
                  <td class="titles">Email:</td>
                  <td>jf2peng@uwaterloo.ca</td>
                </tr>
                <tr>
                  <td class="titles">Languages:</td>
                  <td>English, Chinese Mandarin</td>
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>
