<div id="container">
    <h2 id="header-title">{{ 'MY_PREVIOUS_EXPERIENCES' | translate }}</h2>
<section id="cd-timeline" class="cd-container" [style.overflow]="'hidden'">
    <ng-container *ngFor="let exp of experiences; let index = index">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img" [ngClass]="index%2 === 0 ? 'cd-picture':'cd-movie'" >
                <img [src]="'../../../assets/images/'+exp.logoImg" [alt]="exp.logoImg">
            </div> <!-- cd-timeline-img -->

            <div [id]="exp.title" class="cd-timeline-content"
            [@fadeFrom]="fadeInDirection(index)" 
            >
                <h2>{{ exp.title+'.TITLE' | translate }} - {{ exp.title }} </h2>
                <ul class="descriptions">
                    <ng-container *ngFor="let descriptioon of exp.descriptions" >
                        <li><p [innerHTML]="exp.title+'.'+ descriptioon.title+'.TITLE' | translate "></p></li>
                        <ul class="descriptionDetail" *ngIf="descriptioon.details.length > 0">
                            <li *ngFor="let detail of descriptioon.details" >
                                <p [innerHTML]="exp.title+'.'+ descriptioon.title+'.'+detail | translate"></p>
                            </li>
                        </ul>
                    </ng-container>
                    <ng-container *ngIf="exp.descriptions[exp.descriptions.length-1].details.length > 0" ><br></ng-container>
                    <ng-container *ngFor="let tech of exp.techsUsed">
                        <button pButton type="button" class="ui-button-raised ui-button-rounded" [label]="tech"></button>
                    </ng-container>
                </ul>
                <span class="cd-date">{{ exp.period }}</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </ng-container>
</section> <!-- cd-timeline -->
</div>