<div id="container">
    <h2 id="header-title">My Previous Experiences</h2>
<section id="cd-timeline" class="cd-container">
    <ng-container *ngFor="let exp of experiences; let index = index">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img" [ngClass]="index%2 === 0 ? 'cd-picture':'cd-movie'" >
                <img [src]="'../../../assets/images/'+exp.logoImg" [alt]="exp.logoImg">
            </div> <!-- cd-timeline-img -->

            <div [id]="exp.title" class="cd-timeline-content" [@fadeFrom]="fadeInDirection(index)" >
                <h2>{{ exp.title+'.TITLE' | translate }} </h2>
                <ul class="descriptions">
                    <ng-container *ngFor="let descriptioon of exp.descriptions" >
                        <li><p>{{ exp.title+'.'+ descriptioon | translate }}</p></li>
                    </ng-container>
                    <ng-container *ngFor="let tech of exp.techsUsed">
                        <button pButton type="button" class="ui-button-raised ui-button-rounded" [label]="tech"></button>
                    </ng-container>
                </ul>
                <!-- <a href="#0" class="cd-read-more">Read more</a> -->
                <span class="cd-date">{{ exp.period }}</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </ng-container>
  

    <!-- <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="../../../assets/images/rocket.png" alt="Movie">
        </div> 

        <div class="cd-timeline-content">
            <h2>Final Section</h2>
            <p>This is the content of the last section</p>
            <span class="cd-date">Start</span>
        </div> 
    </div>  -->
</section> <!-- cd-timeline -->
</div>