<div id="services" class="container">
    <div id="project" class="wow bounceInRight">
        <h2>{{ "PROJECTS.PROJECTS" | translate }}</h2>
        <a id="githubLink" href="https://github.com/JingfeiPeng">Github: Jeffer Jingfei Peng</a>
        <hr/>
    </div>
    <div class="row">
        <ng-container *ngFor="let project of projects">
            <div class="col-sm-4">
                <div class="circle">
                    <div class="circle_title">
                        <h2 class="projectTitle"> {{project.title}} </h2>
                        <h3 class="projectLanuage">{{project.techs}}</h3>
                    </div>
                    <a [href]="project.githubLink"><img [src]="'../../../assets/images/'+project.pictureLink" [alt]="project.pictureLink"/></a>
                    <div class="content_shadow"></div>
                    <p class="projectDescription">{{ project.description }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>