.jumbotron{
	height:100vh;
	background: url("../../../assets/images/profiledarkbackground.jpeg") no-repeat;
	// background: rgb(26, 34, 44);
	background-size: 100%;
	background-position:left top, right top;
	text-align:center  !important;
	margin-bottom:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.jumbotron p{
	font-size:1.5rem;
}

#jumbText{
	width:440px;
	height:440px;
	z-index: 1;
	margin:auto;
	border-radius:50%;
	background-image: url("../../../assets/images/myself.jpg");
	// background-image: url("../../../assets/images/coolerMyself.jpg");
	background-repeat: no-repeat;
	background-size: 440px;
	box-shadow:0 0 5px grey;
	display:flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 40px;
}

#profileButton {
	display: inline-block;
	background-color: Transparent;
	border-radius: 20px;
	border:1px solid grey;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 15px;
	width: 230px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}
	span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}
	&:hover{
		background-color: #7b38d8;
		span {
			padding-right: 25px;
		}
		span:after {
			opacity: 1;
			right: 0;
		}
	}
}
  
@media only screen and (max-width:600px){
	.jumbotron{
		background: black;
	}
}